nav {
    min-height: calc(100vh - 50px);
    width: 230px;
    background: var(--menuColor);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

ul span {
    display: block;
    padding: 15px 15px 15px 25px;
    color: var(--gris);
}



ul.contenItema {
    position: relative;
    display: block;
    padding: 12px 5px 12px 15px;
    color: var(--menuText);
    font-size: 14;
    align-items: center;
    display: flex;
}

ul.contenItema:hover,
ul.contenItema.active {
    background: white;
}

.imagenLogo{
    max-width: 150px;
    max-height: 100%;
}

.logo{
    text-align: center;
    display: flex;
    padding: 10px;
}

.flex{
    display: flex;
}

.iconMenu{
    color:white;
    padding-top: 15%;
    width: 100%;
}

hr {
    border: 0;
    height: 1px;
    background: #e6e6e6;
}


.inputBuscar{
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.spanBoton{
    padding: 6px;
    background: white;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    font-size: 12px;
    color:white;
    margin-right: 7%;
}

.spanBoton > span{
    padding: 0;
    margin-top: 5px;
}

.textVerde{
    color: var(--verde);
}

.divInputBuscar{
    display: table;
}

@media (min-width: 1281px) {
  
    
}
 
@media (min-width: 1025px) and (max-width: 1280px) {

    
}



@media (min-width: 768px) and (max-width: 1024px) {


}



@media (min-width: 481px) and (max-width: 767px) {
    
        nav {
            display: none;
        }

}


@media (min-width: 320px) and (max-width: 480px) {

    nav {
        display: none !important;
    }

}